@font-face {
  font-family: 'Minecraftia';
  src: url('Minecraftia-Regular.ttf') format('truetype');
}

body {
  font-family: 'Minecraftia', Arial, sans-serif;
  background-color: #1f0d0d;
  color: #f5dada;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 15px;
  background-color: #7c5343;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #e36424;
  font-size: 16px;
  text-transform: uppercase;
  gap: 8px;
}

header img {
  height: 30px;
  width: auto;
}

/* MAIN CONTAINER */
#container {
  display: flex;
  flex-direction: row;
  background: #f5915f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 800px;
  max-width: 100%;
  height: 600px;
  margin-top: 20px;
}

/* CONTROLS PANEL */
#controls {
  padding: 20px;
  width: 300px;
  background: #7c5343;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 2px solid #5a3b2f;
}

#controls h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #e36424;
}

/* INPUTS + BUTTONS */
#controls input,
#controls button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

#controls input {
  background: #bb8570;
  color: #b17c62;
  border: 1px solid #e36424;
}

#controls button {
  background: #863e1a;
  color: #855d49;
  cursor: pointer;
  font-weight: bold;
}

#controls button:hover {
  background: #d63c3c;
}

/* VIEWER */
#viewer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5a3b2f;
}

/* CANVAS */
canvas {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #e36424;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* DOWNLOAD BUTTON */
#downloadButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #e36424;
  color: #e6bda9;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

#downloadButton:hover {
  background: #d63c3c;
}

/* CUSTOM SELECT */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e36424;
  border-radius: 5px;
  background: #bb8570;
  color: #b17c62;
  font-size: 1rem;
  appearance: none;
  cursor: pointer;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #e36424;
  pointer-events: none;
}